ex10/3/bank.dtd

<!DOCTYPE bank [

<!ELEMENT bank (accounts+)>
<!ELEMENT accounts (savings_accounts,checking_accounts)>
<!ELEMENT savings_accounts (savings_account)>
<!ELEMENT savings_account (balance)>
<!ELEMENT balance (#PCDATA)>

<!ELEMENT checking_accounts (checking_account)>
<!ELEMENT checking_account (balance)>

<!ELEMENT customers (customer)>
<!ELEMENT customer (name, address)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>

<!ELEMENT customer_accounts (customer_account)>
]>